<%- include('partials/_header') -%>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                          <input
                            type="text"
                            value="<%= data.name %>" 
                            name="name"
                            autocomplete="off"
                            placeholder="Name"
                            class="form-control">
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            value="<%= data.address %>" 
                            name="address"
                            autocomplete="off"
                            placeholder="Address"
                            class="form-control">
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            value="<%= data.phone %>" 
                            name="phone"
                            autocomplete="off"
                            placeholder="Phone"
                            class="form-control">
                        </div>
                        <button
                          type="submit"
                          class="btn btn-primary">
                          Edit Customer
                        </button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') -%>